
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ZSZ.AdminWeb.Models.RoleEditGetModel

<form id="FormEdit">
    <input type="hidden" value="@Model.Role.Id" id="id" name="id"/>
    角色名称:<input type="text" name="name" id="name" value="@Model.Role.Name" />
    <br />
    权限项:
    <div class="row cl">
        @foreach (var perm in Model.AllPermission)
        {
            


                <div class="col-xs-12 col-sm-3">

                    <input type="checkbox" name="PermissionIds" id="PermissionIds_@perm.Id"
                           value="@perm.Id" checked="@Model.RolePermission.Select(e=>e.Id).Contains(perm.Id)" />
                    <label for="PermissionIds_@perm.Id">@perm.Name</label>

                </div>
        

        }
    </div>

    <input type="button" id="btn_Save" value="保存" />
</form>

@section  FootScript
{
    <script type="text/javascript">

         $(function () {


             $("#btn_Save").click(function()
             {
                 var Formdata = $("#FormEdit").serializeArray();
                 $.ajax({
                     url: "/Role/Edit/",
                     dataType: "json",
                     type: "post",
                     data: Formdata,
                     success: function (res) {
                         if (res.status == "ok") {
                             layer.msg('修改成功', { icon: 1, time: 2000 });
                             parent.location.reload();
                         }
                     },
                     error: function () {

                         layer.msg('修改失败', { icon: 1, time: 1000 });
                     }



                 })




             });






         });


    </script>

}

